* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 208, 255);
}

.center {
    position: relative;
}

.foot1 {
    position: absolute;
    height: 30px;
    width: 100px;
    border-top: 2px;
    border-right: 0px;
    border-left: 2px;
    border-bottom: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 100px 0 0 40px;
    background-color: white;
    left: -100px;
    top: 100px;
}

.foot2 {
    position: absolute;
    height: 30px;
    width: 100px;
    border: 2px solid black;
    background-color: white;
    border-radius: 0 100px 40px 0;
    bottom: -130px;
    z-index: 2;
}


.body {
    position: absolute;
    height: 140px;
    width: 160px;
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-top: 0px;
    border-color: black;
    border-style: solid;
    background-color: rgb(236, 193, 37);
    top: -38px;
    left: -80px;
    z-index: 2;
}

.legs_line_vertical {
    position: absolute;
    height: 25px;
    width: 2px;
    background-color: black;
    right: 77px;
    bottom: -1px;
    z-index: 1;
}

.legs_line_horizontal {
    position: absolute;
    height: 2px;
    width: 15px;
    background-color: black;
    right: 71px;
    z-index: 1;
    bottom: 23px;
}

.belly {
    position: absolute;
    z-index: 1;
    height: 105px;
    width: 130px;
    border-radius: 50%;
    background-color: white;
    left: 13px;
    border: 2px solid black;
}

.bag {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    border-radius: 0 0 10% 100%;
    background-color: white;
    border: 2px solid black;
    left: 20px;
    top: 30px;
}

.bag2 {
    position: absolute;
    z-index: 2;
    height: 50px;
    width: 50px;
    border-radius: 0 0 100% 10%;
    border: 2px solid black;
    right: 20px;
    top: 30px;
    overflow: hidden;
}

.remove_bag {
    position: absolute;
    z-index: 3;
    height: 46.5px;
    width: 20px;
    top: 32px;
    right: 53px;
    background-color: white;
    border-radius: 0 0 30% 20%;
}

.line1 {
    position: absolute;
    z-index: 4;
    height: 38px;
    width: 2px;
    left: 40px;
    top: 28px;
    background-color: red;
    transform: rotate(30deg);
}

.line2 {
    position: absolute;
    z-index: 4;
    height: 43px;
    width: 2px;
    left: 45px;
    top: 28px;
    background-color: red;
    transform: rotate(30deg);
}

.line3 {
    position: absolute;
    z-index: 4;
    height: 48px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 54px;
}

.line4 {
    position: absolute;
    z-index: 4;
    height: 45px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 48px;
}

.line5 {
    position: absolute;
    z-index: 4;
    height: 54px;
    width: 2px;
    left: 70px;
    top: 28px;
    background-color: red;
    transform: rotate(30deg);
}

.line6 {
    position: absolute;
    z-index: 4;
    height: 54px;
    width: 2px;
    left: 78px;
    top: 28px;
    background-color: red;
    transform: rotate(30deg);
}

.line7 {
    position: absolute;
    z-index: 4;
    height: 54px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 70px;
}

.line8 {
    position: absolute;
    z-index: 4;
    height: 54px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 78px;
}

.line9 {
    position: absolute;
    z-index: 4;
    height: 37px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 35px;
    right: 96px;
}

.line10 {
    position: absolute;
    z-index: 4;
    height: 29px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 32px;
}

.line11 {
    position: absolute;
    z-index: 4;
    height: 21px;
    width: 2px;
    background-color: red;
    transform: rotate(-30deg);
    top: 28px;
    right: 28px;
}

.caler {
    z-index: 2;
    position: absolute;
    height: 15px;
    width: 180px;
    background-color: rgb(59, 182, 231);
    border-radius: 30px;
    top: -53px;
    left: -90px;
    border: 2px solid black;
}

.head {
    position: absolute;
    z-index: 2;
    height: 200px;
    width: 180px;
    border-radius: 80% 80% 90% 90%;
    background-color: rgb(236, 193, 37);
    border: 2px solid black;
    top: -200px;
    left: -90px;
}

.white_head {
    position: absolute;
    z-index: 3;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    background-color: white;
    border-radius: 80% 80% 90% 90%;
    top: 20px;
    left: 14px;
}

.ear1 {
    position: absolute;
    z-index: 2;
    height: 180px;
    width: 90px;
    border: 2px solid black;
    background-color: red;
    border-radius: 100% 100% 90% 90%;
    top: -240px;
    left: -10px;
    transform: rotate(10deg);
}

.ear2 {
    position: absolute;
    z-index: 2;
    height: 180px;
    width: 90px;
    border: 2px solid black;
    background-color: red;
    border-radius: 100% 100% 100% 100%;
    top: -240px;
    right: -10px;
    transform: rotate(-10deg);
}

.left_hand {
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(236, 193, 37);
    left: -100px;
    transform: rotate(30deg);
    top: -80px;
}

.right_hand {
    position: absolute;
    z-index: 1;
    height: 150px;
    width: 40px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: rgb(236, 193, 37);
    right: -100px;
    transform: rotate(-30deg);
    top: -80px;
}

.left_finger {
    position: absolute;
    z-index: 0;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 120px;
    left: 2px;
}

.right_finger {
    position: absolute;
    z-index: 0;
    border: 2px solid black;
    background-color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 120px;
    right: 2px;
}

.left_eye {
    position: absolute;
    z-index: 4;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 35px;
    left: 20px;
    top: 40px;
}

.right_eye {
    position: absolute;
    z-index: 4;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    height: 40px;
    width: 35px;
    right: 20px;
    top: 40px;
}

.left_black_eye {
    position: absolute;
    z-index: 5;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 17px;
    top: 5px;
    left: 8px;
}

.right_black_eye {
    position: absolute;
    z-index: 5;
    background-color: black;
    border-radius: 50%;
    height: 25px;
    width: 17px;
    top: 5px;
    right: 8px;
}

.left_black_remove {
    position: absolute;
    z-index: 6;
    border-radius: 5px 10px 20px 50px;
    height: 10px;
    width: 10px;
    background-color: white;
    transform: rotate(50deg);
    top: 14px;
    left: 1px;
}

.right_black_remove {
    position: absolute;
    z-index: 6;
    border-radius: 5px 10px 20px 50px;
    height: 10px;
    width: 10px;
    background-color: white;
    transform: rotate(50deg);
    top: 14px;
    left: -1px;
}

.left_white_eye {
    position: absolute;
    z-index: 6;
    border-radius: 50%;
    height: 10px;
    width: 7px;
    background-color: white;
    left: 6px;
    top: 6px;
}

.right_white_eye {
    position: absolute;
    z-index: 6;
    border-radius: 50%;
    height: 10px;
    width: 7px;
    background-color: white;
    left: 6px;
    top: 6px;
}

.left_eye_line1 {
    position: absolute;
    z-index: 3;
    height: 10px;
    width: 1.5px;
    background-color: black;
    border-radius: 100%;
    top: 38px;
    left: 25px;
    transform: rotate(-20deg);
}

.right_eye_line1 {
    position: absolute;
    z-index: 3;
    height: 10px;
    width: 1.5px;
    background-color: black;
    border-radius: 100%;
    top: 38px;
    right: 25px;
    transform: rotate(20deg);
}

.left_eye_line2 {
    position: absolute;
    z-index: 3;
    border-radius: 100%;
    height: 10px;
    width: 1.5px;
    top: 33px;
    left: 35px;
    background-color: black;
}

.right_eye_line2 {
    position: absolute;
    z-index: 3;
    border-radius: 100%;
    height: 10px;
    width: 1.5px;
    top: 33px;
    right: 35px;
    background-color: black;
}

.left_eye_line3 {
    position: absolute;
    z-index: 3;
    height: 10px;
    width: 1.5px;
    background-color: black;
    top: 36px;
    left: 48px;
    border-radius: 100%;
    transform: rotate(20deg);
}

.right_eye_line3 {
    position: absolute;
    z-index: 3;
    height: 10px;
    width: 1.5px;
    background-color: black;
    top: 36px;
    right: 48px;
    border-radius: 100%;
    transform: rotate(-20deg);
}

.left_eyebrow {
    position: absolute;
    z-index: 4;
    height: 20px;
    width: 20px;
    border-radius: 10px 20px 50px 19px;
    transform: rotate(-140deg);
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-left: 1px;
    top: 15px;
    left: 27px;
}

.right_eyebrow {
    position: absolute;
    z-index: 4;
    height: 20px;
    width: 20px;
    border-radius: 10px 20px 50px 19px;
    transform: rotate(-140deg);
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-left: 1px;
    top: 15px;
    right: 27px;
}

.nose_upper {
    position: absolute;
    z-index: 4;
    height: 20px;
    width: 20px;
    border-radius: 10px 20px 50px 19px;
    transform: rotate(-140deg);
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-left: 1px;
    top: 75px;
    right: 65px;
}

.nose {
    position: absolute;
    z-index: 4;
    height: 10px;
    width: 20px;
    background-color: pink;
    border-radius: 50%;
    top: 85px;
    right: 65px;
    border: 2px solid black;
}

.lip {
    position: absolute;
    z-index: 4;
    top: 100px;
    right: 65px;
    height: 20px;
    width: 20px;
    border-radius: 10px 20px 50px 10px;
    transform: rotate(50deg);
    border-style: solid;
    border-color: black;
    border-top: 1px;
    border-left: 1px;
}

.bell {
    position: absolute;
    z-index: 3;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    top: -50px;
    left: -13px;
    background-color: rgb(236, 193, 37);
    border: 2px solid black;
}

.black_line1 {
    position: absolute;
    background-color: black;
    height: 1.5px;
    width: 22px;
    z-index: 4;
    top: 5px;
}

.black_line2 {
    position: absolute;
    background-color: black;
    height: 1.5px;
    width: 22px;
    z-index: 4;
    top: 7px;
}

.circle {
    position: absolute;
    background-color: black;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    z-index: 4;
    left: 8px;
    top: 10.5px;
}

.vertical_line {
    position: absolute;
    background-color: black;
    height: 12px;
    width: 1.5px;
    z-index: 4;
    top: 11px;
    left: 10px;
}
